@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;900&display=swap');



:root {
    --white: #ffffff;
    --off-white: #e5e5e5;
    --transp-white-1: rgba(255, 255, 255, 0.25);
    --transp-white-2: rgba(255, 255, 255, 0.1);
    --blue-1: #62b8f5;
    --blue-2: #4475ef;
    --shadow: rgba(3, 46, 87, 0.2);
}



body {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    /* background: url(/images/rainBackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.card{
    background: linear-gradient(45deg, rgb(0 0 0 / 30%), rgb(0 0 0 / 5%));
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    position: relative;
    z-index: 99;
}
.search-bar input{
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid var(--off-white);
}
.search-btn{
    background-color: var(--off-white);
    color: var(--blue-2);
    transition: all 0.3s;
}
.search-btn i{
    display: none;
}
.search-btn:hover{
    background-color: var(--blue-2);
    color: var(--off-white);
}

.temp span{
    font-size: 4rem;
    margin-right: 5px;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--blue-1);
    position: absolute;
	box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
	background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
}

#circle-1{
    top: 150px;
    left: 655px;
    top: -6px;
    left: -72px;
}
#circle-2{
    bottom: 69px;
    left: 262px;
    bottom: -60px;
    left: 364px;
}